<link rel="stylesheet" href="{{ .themeBase }}/dist/main.css">
<script src="{{ .themeBase }}/dist/main.iife.js" defer></script>
{{- if .settings.custom_head }}
{{ .settings.custom_head | safe }}
{{- end }}
